<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="saferides/images/favicon.ico">
		<link rel="shortcut icon" href="saferides/images/favicon.ico" />
		<link rel="stylesheet" href="saferides/css/style.css">
		<script src="saferides/js/jquery.js"></script>
		<script src="saferides/js/jquery-migrate-1.2.1.js"></script>
		<script src="saferides/js/script.js"></script>
		<script src="saferides/js/superfish.js"></script>
		<script src="saferides/js/jquery.ui.totop.js"></script>
		<script src="saferides/js/jquery.equalheights.js"></script>
		<script src="saferides/js/jquery.mobilemenu.js"></script>
		<script src="saferides/js/jquery.easing.1.3.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="menu_block">
					<div class="container_12">
						<div class="grid_12">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li><a href="/adminindex1">Home</a></li>
									<li class="current"><a href="#">About</a></li>
									<li class><a href="bookingdetails">Booking details</a></li>
									<li><a href="/adminindex3">Cars</a></li>
									<li><a href="/adminindex5">Contacts Us</a></li>
									<li><a href="/logout">Logout</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="container_12">
					<div class="grid_12">
						<h1>
							<a href="index1.html">
								<img src="saferides/images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
					</div>
				</div>
				<div class="clear"></div>
			</header>
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
				<div class="container_12">
					<div class="grid_7">
						<h3>A Few Words About Us</h3>
						<img src="saferides/images/page2_img1.jpg" alt="" class="img_inner fleft">
						<div class="extra_wrapper">
							<div class="text1 color2">
								<a href="#">Safe Ride taxi Northwest missouri state university </a>
							</div>
							<p>Want to know more about Safe Ride taxi Click this <span class="color1"><a href="https://www.nwmissouri.edu/police/programs/saferide.htm" rel="dofollow">link</a></span>.</p>
							
						</div>
						<div class="clear cl1"></div>
						<p>The Safe Ride Home program is a safe and timely transportation service within the city limits of Maryville, MO, offered by University, for student and staff at Northwest Missouri State University. 
							Safe Ride Home provides a shuttle system so students can travel to various retail stores in Maryville throughout the week.

							We also offer a taxi service for late night transportation when students are in situations they feel are unsafe.
							
							It also benefits the Maryville community by providing a bridge for students to engage in opportunities that the City community provides.
					</div>
					<div class="grid_4 prefix_1">
						<h3>Why Choose Us</h3>
						<ul class="list li">
							<li class="list_count">1</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Late Night Taxi</a></div>
								Safe Ride Late Night Taxi is to get customers home safely after hours. The Taxi is not intended for shopping or retail use.
								
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">2</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Trustworthy Drivers</a></div>
								The Safe Ride program is a student-run program with peers serving peers.
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">3</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Working in any season</a></div>
								Service is provided even in harsh weather conditions.
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">4</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Always right on time</a></div>
								Safe rides never miss a appointment and be on time  
							</li>
						</ul>
					</div>
					<div class="clear"></div>
					<div class="grid_12">
						<h3 class="h3__ind1">Testimonials</h3>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i>Lorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctor, leo magna... </i></p>
							<div class="color2">Tim Barkley</div>
						</blockquote>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i>Dorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctor, leo magwe... </i></p>
							<div class="color2">Linda Grey</div>
						</blockquote>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i>Gorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctoro magndales...</i></p>
							<div class="color2">Ann Pool</div>
						</blockquote>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_phone"><span>Call Us:</span> +1 660.562.1245</div>
					<div class="socials">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						<div class="st1">
						<div class="brand">Safe<span class="color1">R</span>ide </div>
						
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>