<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Cars</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="saferides/images/favicon.ico">
		<link rel="shortcut icon" href="saferides/images/favicon.ico" />
		<link rel="stylesheet" href="saferides/css/touchTouch.css">
		<link rel="stylesheet" href="saferides/css/style.css">
		<script src="saferides/js/jquery.js"></script>
		<script src="saferides/js/jquery-migrate-1.2.1.js"></script>
		<script src="saferides/js/script.js"></script>
		<script src="saferides/js/superfish.js"></script>
		<script src="saferides/js/jquery.ui.totop.js"></script>
		<script src="saferides/js/jquery.equalheights.js"></script>
		<script src="saferides/js/jquery.mobilemenu.js"></script>
		<script src="saferides/js/jquery.easing.1.3.js"></script>
		<script src="saferides/js/touchTouch.jquery.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
				$('.gallery a.gal').touchTouch();
			});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="menu_block ">
					<div class="container_12">
						<div class="grid_12">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li><a href="/adminindex1">Home</a></li>
									<li><a href="/adminindex2">About</a></li>
									<li class><a href="bookingdetails">Booking details</a></li>
									<li class="current"><a href="#">Cars</a></li>
									<li><a href="/adminindex5">Contacts Us</a></li>
									<li><a href="/logout">Logout</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="container_12">
					<div class="grid_12">
						<h1>
							<a href="/index1">
								<img src="saferides/images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
					</div>
				</div>
				<div class="clear"></div>
			</header>
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
				<div class="container_12">
					<div class="grid_12">
						<h3>Economy</h3>
					</div>
					<div class="clear"></div>
					<div class="gallery">
						<div class="grid_4"><a href="saferides/images/big1.jpg" class="gal"><img src="saferides/images/page3_img1.jpg" alt=""></a></div>
						<div class="grid_4"><a href="saferides/images/big2.jpg" class="gal"><img src="saferides/images/page3_img2.jpg" alt=""></a></div>
						<div class="grid_4"><a href="saferides/images/big3.jpg" class="gal"><img src="saferides/images/page3_img3.jpg" alt=""></a></div>
					</div>
					<div class="grid_12">
						<h3>Standard</h3>
					</div>
					<div class="clear"></div>
					<div class="gallery">
						<div class="grid_4"><a href="saferides/images/big4.jpg" class="gal"><img src="saferides/images/page3_img4.jpg" alt=""></a></div>
						<div class="grid_4"><a href="saferides/images/big5.jpg" class="gal"><img src="saferides/images/page3_img5.jpg" alt=""></a></div>
						<div class="grid_4"><a href="saferides/images/big6.jpg" class="gal"><img src="saferides/images/page3_img6.jpg" alt=""></a></div>
					</div>
					<div class="grid_12">
						<h3>Van</h3>
					</div>
					<div class="clear"></div>
					<div class="gallery">
						<div class="grid_4"><a href="saferides/images/big7.jpg" class="gal"><img src="saferides/images/page3_img7.jpg" alt=""></a></div>
						<div class="grid_4"><a href="saferides/images/big8.jpg" class="gal"><img src="saferides/images/page3_img8.jpg" alt=""></a></div>
						<div class="grid_4"><a href="saferides/images/big9.jpg" class="gal"><img src="saferides/images/page3_img9.jpg" alt=""></a></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_phone"><span>Call Us:</span> +1 660.562.1245</div>
					<div class="socials">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						<div class="st1">
						<div class="brand">Safe<span class="color1">R</span>ide </div>
						
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>