<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contacts</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="saferides/images/favicon.ico">
		<link rel="shortcut icon" href="saferides/images/favicon.ico" />
		<link rel="stylesheet" href="saferides/css/form.css">
		<link rel="stylesheet" href="saferides/css/style.css">
		<link rel="stylesheet" href="saferides/booking/css/booking.css">
		<script src="saferides/js/jquery.js"></script>
		<script src="saferides/js/jquery-migrate-1.2.1.js"></script>
		<script src="saferides/js/script.js"></script>
		<script src="saferides/js/superfish.js"></script>
		<script src="saferides/js/jquery.ui.totop.js"></script>
		<script src="saferides/js/jquery.equalheights.js"></script>
		<script src="saferides/js/jquery.mobilemenu.js"></script>
		<script src="saferides/js/jquery.easing.1.3.js"></script>
		<script src="saferides/js/TMForm.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="menu_block ">
					<div class="container_12">
						<div class="grid_12">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
<<<<<<< HEAD
									<li><a href="/index1">Home</a></li>
									<li><a href="/index2">About</a></li>
									<li><a href="/index3">Cars</a></li>
									<li><a href="/index4">Booking</a></li>
									<li><a href="#">Contacts</a></li>
									<li class="current"><a>Booking Details</a></li>
=======
									<li><a href="/adminindex1">Home</a></li>
									<li><a href="/adminindex2">About</a></li>
									<li class="current"><a href="#">Booking requests</a></li>
									<li><a href="/adminindex3">Cars</a></li>
									<!-- <li><a href="/index4">Booking</a></li> -->
									<li><a href="/adminindex5">Contacts Us</a></li>
									<li><a href="/logout">Logout</a></li>
									
>>>>>>> aef9b371dae7c599a8c88a61dc63c59f47d98d81
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="container_12">
					<div class="grid_12">
						<h1>
								<a href="/index1">
								<img src="saferides/images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
					</div>
				</div>
				<div class="clear"></div>
			</header>
<!--==============================Content=================================-->
<div class="content">
	
    <h3>Booking requests</h3>
    
    <!-- <%= docs %> -->
    <div class="container">
        <table style="width:100%">
            <tr>
              <th>NAME</th>
              <th>919#</th> 
              <th>PICKUP LOCATION</th>
              <th>DESTINATION</th>
              <th>PICKUP TIME</th>
              <th>TYPE OF CAR</th>
              <th>NUMBER OF PASSENGERS</th>
			  <th>DATE OF BOOKING</th>
			  <th>ACCEPT OR DECLINE</th>
              
            </tr>
            <% for(let i=0; i<docs.length;i++){ %>
            <tr>
                <td align="center"><%= docs[i].name %></td>
                <td align="center"><%= docs[i].username %></td> 
                <td align="center"><%= docs[i].pickuplocation %></td>
                <td align="center"><%= docs[i].destination %></td>
                <td align="center"><%= docs[i].pickupTime %></td>
                <td align="center"><%= docs[i].typeOfCar %></td>
                <td align="center"><%= docs[i].numberOfPassangers %></td>
				<td align="center"><%= docs[i].date %></td>
				<td align="center">
				<!-- <form method="post" action="/acceptbooking/"<%= docs[i]._id %></form><button type="submit" class="btn btn-success" >Accept</button></form>
				<form method="post" action="/declinebooking/"<%= docs[i]._id %>><button type="submit" class="btn btn-danger">Decline</button></form> -->
					<!-- <a href='/acceptbooking/<%= docs[i]._id %>'><u>Accept</u></a>&nbsp;&nbsp;<a href='/declinebooking/<%= docs[i]._id %>'><u>Decline</u></a> -->
					<a href='#'><u>Accept</u></a>&nbsp;&nbsp;<a href='/declinebooking/<%= docs[i]._id %>'><u>Decline</u></a>
			</td>
            </tr>
            <% } %>
          </table>
    </div>

			
		</div>
<!--==============================footer=================================
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_phone"><span>Call Us:</span> +1 660.562.1245</div>
					<div class="socials">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						<div class="st1">
						<div class="brand">Safe<span class="color1">R</span>ide </div>
                            
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>-->
	</body>
</html>