<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contacts</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="saferides/images/favicon.ico">
		<link rel="shortcut icon" href="saferides/images/favicon.ico" />
		<link rel="stylesheet" href="saferides/css/form.css">
		<link rel="stylesheet" href="saferides/css/style.css">
		<link rel="stylesheet" href="saferides/booking/css/booking.css">
		<script src="saferides/js/jquery.js"></script>
		<script src="saferides/js/jquery-migrate-1.2.1.js"></script>
		<script src="saferides/js/script.js"></script>
		<script src="saferides/js/superfish.js"></script>
		<script src="saferides/js/jquery.ui.totop.js"></script>
		<script src="saferides/js/jquery.equalheights.js"></script>
		<script src="saferides/js/jquery.mobilemenu.js"></script>
		<script src="saferides/js/jquery.easing.1.3.js"></script>
		<script src="saferides/js/TMForm.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="menu_block ">
					<div class="container_12">
						<div class="grid_12">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li><a href="/index1">Home</a></li>
									<li><a href="/index2">About</a></li>
									<li><a href="/index3">Cars</a></li>
									<li><a href="/index4">Booking</a></li>
									<li class="current"><a href="#">Contacts</a></li>
									<li><a href="/logout">Logout</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="container_12">
					<div class="grid_12">
						<h1>
							<a href="/index1">
								<img src="saferides/images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
					</div>
				</div>
				<div class="clear"></div>
			</header>
<!--==============================Content=================================-->
<div class="content">
	
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
				<div class="container_12">
					<div class="grid_12">
						<h3>Find Us</h3>
						<div class="map">
							<figure>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.9335295676096!2d-94.88471298476442!3d40.35198946749865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c05585b7bd19b1%3A0xfc94da964c338044!2sNorthwest+Missouri+State+University!5e1!3m2!1sen!2sus!4v1523642037957" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</figure>
						</div>
					</div>
					<div class="grid_5">
						<h3>Contact Info</h3>
						<div class="map">
							<div class="text1 color2">We welcome your feedback about the Safe Ride Home program and would like to hear from you!</div>
							
							<p>Please email comments to University Police at police@nwmissouri.edu.</p>
							<address>
								<dl>
									<dt>Northwest Missouri State University<br>
										800 University Drive | Maryville, MO 64468<br>
										660.562.1212 | www.nwmissouri.edu
									</dt>
									<dd><span>Telephone:</span> +1 660.562.1245</dd>
									
									<dd>E-mail: <a href="#" class="color1">police@nwmissouri.edu</a></dd>
								</dl>
							</address>
						</div>
					</div>
					<div class="grid_6 prefix_1">
						<h3>Contact Form</h3>
						<form id="form">
							<div class="success_wrapper">
								<div class="success-message">Contact form submitted</div>
							</div>
							<label class="name">
								<input type="text" placeholder="Name:" data-constraints="@Required @JustLetters" />
								<span class="empty-message">*This field is required.</span>
								<span class="error-message">*This is not a valid name.</span>
							</label>
							<label class="email">
								<input type="text" placeholder="E-mail:" data-constraints="@Required @Email" />
								<span class="empty-message">*This field is required.</span>
								<span class="error-message">*This is not a valid email.</span>
							</label>
							<label class="phone">
								<input type="text" placeholder="Phone:" data-constraints="@Required @JustNumbers"/>
								<span class="empty-message">*This field is required.</span>
								<span class="error-message">*This is not a valid phone.</span>
							</label>
							<label class="message">
								<textarea placeholder="Message:" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
								<span class="empty-message">*This field is required.</span>
								<span class="error-message">*The message is too short.</span>
							</label>
							<div>
								<div class="clear"></div>
								<div class="btns">
									<a href="#" data-type="submit" class="btn">Send</a>
									<a href="#" data-type="reset" class="btn">Clear</a>
								</div>
							</div>
						</form>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_phone"><span>Call Us:</span> +1 660.562.1245</div>
					<div class="socials">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						<div class="st1">
						<div class="brand">Safe<span class="color1">R</span>ide </div>
						
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>