﻿<!DOCTYPE html>
<html lang="en">

<head>
	<title>Booking</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no" />
	<link rel="icon" href="saferides/images/favicon.ico">
	<link rel="shortcut icon" href="saferides/images/favicon.ico" />
	<link rel="stylesheet" href="saferides/booking/css/booking.css">
	<link rel="stylesheet" href="saferides/css/camera.css">
	<link rel="stylesheet" href="saferides/css/owl.carousel.css">
	<link rel="stylesheet" href="saferides/css/style.css">
	<script src="saferides/js/jquery.js"></script>
	<script src="saferides/js/jquery-migrate-1.2.1.js"></script>
	<script src="saferides/js/script.js"></script>
	<script src="saferides/js/superfish.js"></script>
	<script src="saferides/js/jquery.ui.totop.js"></script>
	<script src="saferides/js/jquery.equalheights.js"></script>
	<script src="saferides/js/jquery.mobilemenu.js"></script>
	<script src="saferides/js/jquery.easing.1.3.js"></script>
	<script src="saferides/js/owl.carousel.js"></script>
	<script src="saferides/js/camera.js"></script>
	<!--[if (gt IE 9)|!(IE)]><!-->
	<script src="saferides/js/jquery.mobile.customized.min.js"></script>
	<!--<![endif]-->
	<script src="saferides/booking/js/booking.js"></script>
	<script>
		$(document).ready(function () {
			jQuery('#camera_wrap').camera({
				loader: false,
				pagination: false,
				minHeight: '444',
				thumbnails: false,
				height: '28.28125%',
				caption: true,
				navigation: true,
				fx: 'mosaic'
			});
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
			<![endif]-->
	<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
</head>

<body class="page1" id="top">
	<div class="container">
		<div class="container-fluid">
			<div class="col-xs-12">

				<div class="main">
					<!--==============================header=================================-->
					<header>
						<div class="menu_block ">
							<div class="container_12">
								<div class="grid_12">
									<nav class="horizontal-nav full-width horizontalNav-notprocessed">
										<ul class="sf-menu">
											<li>
												<a href="/index1">Home</a>
											</li>
											<li>
												<a href="/index2">About</a>
											</li>
											<li>
												<a href="/index3">Cars</a>
											</li>
											<li class="current">
												<a href="#">Booking</a>
											</li>
											<li>
												<a href="/index5">Contacts</a>
											</li>
											<li><a href="/logout">Logout</a></li>
										</ul>
									</nav>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="container_12">
							<div class="grid_12">
								<h1>
									<a href="#">
										<img class="col-xs-12" src="saferides/images/logo.png">

									</a>
								</h1>
							</div>
						</div>
						<div class="clear"></div>
					</header>
					
					

				
					<!--==============================Content=================================-->
					<div class="content">
						<div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
						<div class="container_12">
							<div class="grid_5">
								<h3>Booking Form</h3>
								<form id="bookingForm" method="post" action="/confirmbooking">
									<div class="fl1">
										<div class="tmInput">
											<input name="name" placeHolder="Name:" type="text">
										</div>
										<div class="tmInput">
											<input name="pickuplocation" placeHolder="From:" type="text">
										</div>
									</div>
									<div class="fl1">
										<div class="tmInput">
											<input name="username" placeHolder="#919:" type="text">
										</div>
										<div class="tmInput mr0">
											<input name="destination" placeHolder="To:" type="text">
										</div>
									</div>
									<div class="clear"></div>
									<strong>Time</strong>
									<div class="tmInput">
										<input name="pickupTime" name="pickupTime" placeHolder="" type="text">
									</div>
									<div class="clear"></div>
									<strong>Date</strong>
									<label class="tmDatepicker">
										<input type="text" name="date" placeHolder='04/13/2018'>
									</label>
									<div class="clear"></div>
									<div class="tmRadio">
										<p>Comfort</p>
										<input name="Comfort" value="economy" type="radio" id="tmRadio0" checked/>
										<span>Economy</span>
										<input name="Comfort" value="standard" type="radio" id="tmRadio1" />
										<span>Standard</span>
										<input name="Comfort" value="van" type="radio" id="tmRadio2" />
										<span>Van</span>
									</div>
									<div class="clear"></div>
									<div class="fl1 fl2">
										<em>Adults</em>
										<select name="adults" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
											<option>1</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
										<div class="clear height1"></div>
									</div>
									<!-- <div class="fl1 fl2">
										<em>Children</em>
										<select name="Children" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
											<option>0</option>
											<option>0</option>
											<option>1</option>
											<option>2</option>
										</select>
									</div> -->
									<div class="clear"></div>
									<!-- <div class="tmTextarea">
										<textarea name="Message" placeHolder="Message" data-constraints='@NotEmpty @Required @Length(min=20,max=999999)'></textarea>
									</div> -->
									<button class="btn btn-warning" type="submit">SUBMIT</button>
								</form>
							</div>
							<div class="grid_6 prefix_1">
								<a href="/index3" class="type">
									<img src="saferides/images/page1_img1.jpg" alt="">
									<span class="type_caption">Economy</span>
								</a>
								<a href="/index3" class="type">
									<img src="saferides/images/page1_img2.jpg" alt="">
									<span class="type_caption">Standard</span>
								</a>
								<a href="/index3" class="type">
									<img src="saferides/images/page1_img3.jpg" alt="">
									<span class="type_caption">Van</span>
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<!--==============================footer=================================-->
				<footer>
					<div class="container_12">
						<div class="grid_12">
							<div class="f_phone">
								<span>Call Us:</span> +1 660.562.1245</div>
							<div class="socials">
								<a href="#" class="fa fa-twitter"></a>
								<a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-google-plus"></a>
							</div>
							<div class="copy">
								<div class="st1">
									<div class="brand">Safe
										<span class="color1">R</span>ide </div>

								</div>
							</div>
							<div class="clear"></div>
						</div>
				</footer>
				<script>
					$(function () {
						$('#bookingForm').bookingForm({
							ownerEmail: '#'
						});
					})
					$(function () {
						$('#bookingForm input, #bookingForm textarea').placeholder();
					});
				</script>
				</div>
			</div>
		</div>
</body>

</html>