<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emergency Disaster Management.</title>


    <!-- Bootstrap Core CSS -->
    <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="../dist/css/sb-admin-2.css" rel="stylesheet"> -->
    <link href="css/css/sb-admin-2.css" rel="stylesheet">

    <!-- <link href="../mycss/loginpage.css" rel="stylesheet"> -->
    <link href="css/loginpage.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- new set of links -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>


</head>

<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
            <a class="navbar-brand" href="/">HOME</a>
        </div>

    </nav>

    <h3 class="header">SAFE RIDE BOOKING</h3>
    <a class="btn pull-right" href="/adminlogin">ADMIN LOGIN</a>
    <p align="center"><%= wrongcredentialsmessage %></p>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="/login" onSubmit="return validate(this);" name="form">
                            <fieldset>

                                                   
                                <br>
                                <div class="form-group">
                                    <!-- <input id="emailInput" class="form-control" placeholder="E-mail" name="email" type="email" oninvalid="setCustomValidity('Please enter a valid email address!')"
                                        onchange="try{setCustomValidity('')}catch(e){}" required=""> -->
                                        <!-- type="email" -->
                                        <input id="username" name="username" class="form-control" placeholder="919 Number" name="text"  required="">

                                    <!-- <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus> -->

                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <p id="warningmessage" style="color:red" class="text-warning"></p>
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>

                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>

                                <!-- <input class="btn btn-lg btn-success btn-block" href="blank.html" value="Send My Password" type="submit"> -->
                                <a href="/signup">Sign Up/New User?</a> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#">Forgot Password</a>
                                <!-- <a href="blank.html" class="btn btn-lg btn-success btn-block">Login</a> -->
                                <!-- <a href="eocregistration.html">Sign Up/New User?</a> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                <!-- <a
                                    href="#">Forgot Password</a> -->

                            </fieldset>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="css/css/sb-admin-2.js"></script>


    <script>
        function movetodashboard() {
            window.location
        }
        var ck_name = /^[A-Za-z0-9 ]{3,20}$/;
        var ck_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;
        var ck_username = /^[A-Za-z0-9_]{1,20}$/;
        var ck_password = /^[A-Za-z0-9!@#$%^&*()_]{6,20}$/;

        function validate(form) {
            console.log("entered here");
            var email = form.email.value;

            var password = form.password.value;

            var errors = [];


            if (!ck_email.test(email)) {
                errors[errors.length] = "You must enter a valid email address";
            }

            if (!ck_password.test(password)) {
                errors[errors.length] = "You must enter a valid Password";
            }

            if (errors.length > 0) {

                reportErrors(errors);
                return false;
            }
            return true;
        }

        function reportErrors(errors) {
            // var msg = "Please Enter Valide Data...\n";
            var msg = "";
            for (var i = 0; i < errors.length; i++) {
                var numError = i + 1;
                // msg += "\n" + "" + errors[i]+"\n";
                msg+="<b>"+errors[i]+"<b><br>";
            }
            document.getElementById("warningmessage").innerHTML = msg;
        }
    </script>

</body>

</html>
