<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Safe Ride Taxi.</title>


    <!-- Bootstrap Core CSS -->
    <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/css/sb-admin-2.css" rel="stylesheet">

    <link href="css/loginpage.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>

<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a class="navbar-brand" href="/">HOME</a>
        </div>
    </nav>
    <!-- /.navbar-header -->
    <h3 class="header">SAFE RIDE TAXI</h3>
    <br>
    <div class="container">
        <h1 class="well">Registration Form</h1><lable><b>Note: Please check the instuctions at the bottom of the page before filling the form.</b></lable>
        <div class="col-lg-12 well">
            <div class="row">
                 <form method="POST" action="/signup">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>First Name <font color="red">*</font></label>
                                <input type="text" placeholder="Enter First Name Here.." class="form-control" required="true" name="firstname">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Last Name <font color="red">*</font></label>
                                <input type="text" placeholder="Enter Last Name Here.." class="form-control" required="true" name="lastname">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label>Home</label>
                                <label>Address</label>
                                <input type="text" placeholder="Enter Office Address Here.." class="form-control" name="homeaddress">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>City</label>
                                <input type="text" placeholder="Enter City Name Here.." class="form-control" name="homecity">
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-3 form-group">
                                <label>Mobile Phonenumber <font color="red">*</font></label>
                                <input type="tel" name="mobilenumber" pattern="^[0-9\-\+\s\(\)]*$" minlength="10" maxlength="10" placeholder="1234567890"
                                    class="form-control" required="true">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>#919<font color="red">*</font></label>
                                <input type="tel" name="username" class="form-control" required="true">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label>Email Address <font color="red">*</font></label>
                                <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter Email Address Here.."
                                    class="form-control" required="true">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>Password <font color="red">*</font></label>
 
                                <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter the password" class="form-control"
                                    required="true">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>Confirm Password <font color="red">*</font></label>
                                <input type="password" name="confirmpassword" placeholder="Enter the password again" class="form-control" required="true">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label></label>
                                <i id="passwordmismatch" name="passwordmismatch"></i>
                            </div>
                        </div>

                    </div><br>

                    <button class="btn btn-lg btn-success" type="submit">Submit</button>

                    <div class="container">
                        <b><label>Note:</label></b><br>
                        <p>
                            1. Your password should consists
                            <ul>A lowercase alphabet</ul><ul>An uppercase alphabet</ul><ul>A Number</ul><ul>A Special Character</ul><ul>Minimum of 8 characters in length</ul>
                            2. You contact numbers should be just numbers and no alphabets.
                            3. Contact numbers must be of 10 units in length.
                        </p>

                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="css/css/sb-admin-2.js"></script>



</body>

</html>